<a href="https://colab.research.google.com/github/GeeteshT/Project/blob/master/Scaping_SBIN_share.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
import numpy as np
import pandas as pd

In [2]:
df=pd.DataFrame()

In [3]:
def datafetch(extend):
  ef=pd.DataFrame(extend)
  ef=ef.T
  header=ef.iloc[0]
  ef=ef[1:]
  ef=ef.rename(columns=header)
  from datetime import date
  day=date.today()
  day=day.strftime("%d/%m/%Y")
  ef.insert(0,"Date",day)
  return ef

In [4]:
def open_url():
  data=urlopen("https://in.finance.yahoo.com/quote/SBIN.BO").read()
  soup=BeautifulSoup(data)
  extend=[]
  for table in soup.find_all("table"):
    for row in table.find_all("tr"):
      table_row=row.find_all("td")
      print_data=[]
      for d in table_row:
        print_data.append(d.text)
      extend.append(print_data)
  ef=datafetch(extend)
  return ef

In [7]:
df=pd.concat([df,open_url()],axis=0)
df

         Date Previous close  ... Ex-dividend date 1y target est
1  30/10/2020         188.80  ...              N/A           N/A
1  30/10/2020         188.80  ...              N/A           N/A
1  30/10/2020         188.80  ...              N/A           N/A

[3 rows x 17 columns]